@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//Image path
$imgPath: "/styles/images";
//Font 
$fontStack: 'Josefin Sans', sans-serif;
$fontColor: #FFF;
$h2Size: 38px;
$h3Size: 28px;
$pSize: 28px;
$hoverColor: #9A3C7A;
$footerColor: #E990D2;
//Icons
$iconColor: #9A3C7A;
$iconHover: #CC6EAC;
$iconSize: 28px;
//Content
$primaryColor: #9A3C7A;
$border: 2px solid white;
$lightBackground: #BD66A0;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: $primaryColor;
    position: relative;
    min-height: 100%;
}

header {
    background-image: url(#{$imgPath}/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    border-bottom: $border;
    margin-bottom: 50px;
    h1 {
        color: $fontColor;
        font-family: $fontStack;
    }
}

.container {
    .centeredH2 {
        color: $fontColor;
        font-family: $fontStack;
        font-size: $h2Size;
        text-align: center;
    }
    .centeredH3 {
        color: $fontColor;
        font-family: $fontStack;
        font-size: $h3Size;
        text-align: center;
    }
    .info, .critterInfo {
        color: $fontColor;
        font-family: $fontStack;
        margin: 0 auto;
        padding: 0px 20px 20px 20px;
        width: 70%;
        .img {
            padding: 10px 0px 10px 0px;
            text-align: center;
        }
    } 
    .info p, .critterInfo p {
        font-size: $pSize;
        line-height: 115%;
    }
    .info h2 {
        font-size: $h2Size;
        padding-bottom: 10px;
    }
    .critterInfo h3 {
        font-size: $h3Size;
        padding: 10px 0px 10px 0px;
    }
    .info img {
        max-width: 50%;
        max-height: 50%;
    }
    padding-bottom: 10rem;
}

ul {
    list-style-type: none;
    padding: 0px 2px 0px 2px;
    li {
        padding: 3px 0px 3px 0px;
    }
}

table {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
}
tr {
    padding: 0px 5px 0px 5px;
}

.objectContainer, .gallery, .craftingMaterial, .gems, .flowers, .refinedMaterials, .enchantments, .paving, .fences, .chests, .stoves, .mannequins, .companions, .functionalItems, .furniture, .balloons, .touchOfMagic, .fallEvent, .winterEvent, .springEvent, .floral, .lamps, .signs, .mailboxes, .appetizers, .entrees, .desserts {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    padding: 20px 10px 10px 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#characters {
    grid-template-columns: auto auto auto auto;
}

.objectBox, .galleryItem, .craftingBox, .gemBox, .flowerBox, .recipeBox {
    padding: 20px 5px 0px 5px;
    text-align: center;
    color: $fontColor;
    font-family: $fontStack;
    outline: 3px solid #FFF;
    background-color: $lightBackground;
    img {
        max-width: 50%;
        max-height: 50%;
        padding-top: 10px;
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    h3, p {
        padding-bottom: 5px;
    }
    .quote {
        font-style: italic;
    }
}

.objectText {
    display:inline-block;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $footerColor;
    text-align: center;
    color: $fontColor;
    font-family: $fontStack;
    padding: 10px;
    font-size: 20px;
    border-top: $border;
    a {
        text-decoration: none;
        color: $fontColor;

        &:hover {
            color: $hoverColor;
        }
    }
    .socials {
        padding: 10px 0px 10px 0px;
    }
    .socialMediaIcon {
        color: $iconColor;
        font-size: $iconSize;
        &:hover {
            color: $iconHover;
        }
    }
}