@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

//Image path
$imgPath: "/styles/images";
//Font 
$fontStack: 'Josefin Sans', sans-serif;
$fontColor: #3B486D;
$h2Size: 38px;
$h3Size: 28px;
$pSize: 28px;
$tableHeader: 22px;
$tableCell: 20px;
$hoverColor: #FFE598;
$headerText: #FFF;
$footerColor: #3F48AC;
$footerText: #DFDFF8;
//Icons
$iconColor: #DFDFF8;
$iconHover: #FFE598;
$iconSize: 28px;
//Buttons
$buttonColor: #3F48AC;
$buttonText: #DFDFF8;
$buttonHover: #36258A;
$buttonFontSize: 24px;
//Content
$primaryColor: #C3C4F9;
$border: 3px solid #FFE598;
$lightBackground: #DFDFF8;

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth
}

body {
    background-color: $primaryColor;
    position: relative;
    min-height: 100%;
}

header {
    background-image: url(#{$imgPath}/header_img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
    border-bottom: $border;
    margin-bottom: 50px;
    background-color: $footerColor;
    h1 {
        color: $headerText;
        font-family: $fontStack;
    }
}

nav {
    text-align: center;
}

.navButton {
    color: $iconColor;
    font-size: $iconSize;
    &:hover {
        color: $iconHover;
    }
    position: absolute;
    right: 0;
    padding-right: 50px;
}

#navMenu {
    display: none;
    flex-direction: column;
    width: 100%;
}

#navMenu.show {
    display: flex;
    line-height: 200%;
}

ul {
    list-style-type: none;
    padding: 50px 2px 0px 2px;
    li {
        padding: 3px 0px 3px 0px;
    }
    a {
        color: $headerText;
        font-family: $fontStack;
        font-size: 20px;
        text-decoration: none;
    }
    a:hover {
        color: $hoverColor;
    }
}

ol {
    list-style-type: none;
}

.container {
    .centeredH2 {
        color: $fontColor;
        font-family: $fontStack;
        font-size: $h2Size;
        text-align: center;
        padding-bottom: 15px;
    }
    .centeredH3 {
        color: $fontColor;
        font-family: $fontStack;
        font-size: $h3Size;
        text-align: center;
    }
    .info, .critterInfo {
        color: $fontColor;
        font-family: $fontStack;
        margin: 0 auto;
        padding: 0px 20px 20px 20px;
        width: 70%;
        .img {
            padding: 10px 0px 10px 0px;
            text-align: center;
        }
    } 
    .critterInfo .objectContainer {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-auto-rows: minmax(100px, auto);
        width: 90%;
    }
    .info p, .critterInfo p {
        font-size: $pSize;
        line-height: 115%;
        padding-bottom: 50px;
    }
    .info h2 {
        font-size: $h2Size;
        padding-bottom: 10px;
    }
    .critterInfo h3 {
        font-size: $h3Size;
        padding: 10px 0px 10px 0px;
    }
    .info img {
        max-width: 50%;
        max-height: 50%;
    }
    padding-bottom: 10rem;
}

.navButtons {
    text-align: center;
    padding-bottom: 50px;
    button {
        width: 150px;
        height:75px;
        border-radius: 15px;
        border: $border;
        background-color: $buttonColor;
        color: $buttonText;
        font-family: $fontStack;
        font-size: $buttonFontSize;
    }
    button:hover {
        background-color: $buttonHover;       
    }
}

#indexImg, #eventImg {
    text-align: center;
    padding: 30px 0px 30px 0px;
    img {
        max-width: 60%;
        max-height: 60%;
        text-align: center;
        border: $border;
    }
}

table {
    width: 80%;
    margin: 0 auto;
    padding: 30px 0px 30px 0px;
    th {
        text-align: left;
        padding: 0px 0px 5px 15px;
        font-size: $tableHeader;
    }
    td {
        font-size: $tableCell;
        padding-left: 15px;
    }
}

.objectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    padding: 20px 10px 10px 10px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
}

#eventRewards {
    row-gap: 2em;
}

.objectBox {
    padding: 20px 5px 0px 5px;
    text-align: center;
    color: $fontColor;
    font-family: $fontStack;
    outline: 3px solid #FFE598;
    background-color: $lightBackground;
    width: 200px;
    height: 300px;
    img {
        max-width: 50%;
        max-height: 50%;
        padding: 20px 0px 10px 0px;
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    h3 {
        height: 10%;
        padding-bottom: 5px;
    }
}

#characters {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2em;
    grid-auto-rows: minmax(100px, auto);
    .objectBox {
        width: 250px;
        height: 400px;
    }
    h3 {
        height: 5%;
    }
    p {
        padding-bottom: 5px;
    }
    img {
        padding: 0px 0px 15px 0px;
        max-width: 132px;
        max-height: 132px;
        display: block;
    }
    .quote {
        font-style: italic;
    }
}

#topBtn {
    color: $footerColor;
    font-size: $iconSize;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px;
    display: none;
    &:hover {
        color: $iconHover;
    }
}

button a {
    text-decoration: none;
    color: $footerText;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $footerColor;
    text-align: center;
    color: $footerText;
    font-family: $fontStack;
    padding: 10px;
    font-size: 20px;
    border-top: $border;
    a {
        text-decoration: none;
        color: $footerText;

        &:hover {
            color: $hoverColor;
        }
    }
    .socials {
        padding: 10px 0px 10px 0px;
    }
    .socialMediaIcon {
        color: $iconColor;
        font-size: $iconSize;
        &:hover {
            color: $iconHover;
        }
    }
}

@media only screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }
    h2 span {
        display: none;
    }
    .centeredH2 {
        padding-left: 5px;
        padding-right: 5px;
    }
    h3 {
        text-align: center;
    }
    #indexImg, #eventImg {
        padding: 0px 0px 50px 0px;
        img {
            max-width: 90%;
            max-height: 90%;
        }
    }
    .objectContainer {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 50px;
    }
    .objectBox {
        margin: 0 auto;
        width: 99%;
    }
}