@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #9A3C7A;
  position: relative;
  min-height: 100%;
}

header {
  background-image: url(/styles/images/header.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  border-bottom: 2px solid white;
  margin-bottom: 50px;
}
header h1 {
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
}

.container {
  padding-bottom: 10rem;
}
.container .centeredH2 {
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 38px;
  text-align: center;
}
.container .centeredH3 {
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 28px;
  text-align: center;
}
.container .info, .container .critterInfo {
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  margin: 0 auto;
  padding: 0px 20px 20px 20px;
  width: 70%;
}
.container .info .img, .container .critterInfo .img {
  padding: 10px 0px 10px 0px;
  text-align: center;
}
.container .info p, .container .critterInfo p {
  font-size: 28px;
  line-height: 115%;
}
.container .info h2 {
  font-size: 38px;
  padding-bottom: 10px;
}
.container .critterInfo h3 {
  font-size: 28px;
  padding: 10px 0px 10px 0px;
}
.container .info img {
  max-width: 50%;
  max-height: 50%;
}

ul {
  list-style-type: none;
  padding: 0px 2px 0px 2px;
}
ul li {
  padding: 3px 0px 3px 0px;
}

table {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0px 30px 0px;
}

tr {
  padding: 0px 5px 0px 5px;
}

.objectContainer, .gallery, .appetizers, .entrees, .desserts {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  padding: 20px 10px 10px 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#characters {
  grid-template-columns: auto auto auto auto;
}

.objectBox, .galleryItem, .recipeBox {
  padding: 20px 5px 0px 5px;
  text-align: center;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  outline: 3px solid #FFF;
  background-color: #BD66A0;
}
.objectBox img, .galleryItem img, .recipeBox img {
  max-width: 50%;
  max-height: 50%;
  padding-top: 10px;
  display: block;
  width: 50%;
  margin: 0 auto;
}
.objectBox h3, .objectBox p, .galleryItem h3, .galleryItem p, .recipeBox h3, .recipeBox p {
  padding-bottom: 5px;
}
.objectBox .quote, .galleryItem .quote, .recipeBox .quote {
  font-style: italic;
}

.objectText {
  display: inline-block;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #E990D2;
  text-align: center;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  padding: 10px;
  font-size: 20px;
  border-top: 2px solid white;
}
footer a {
  text-decoration: none;
  color: #FFF;
}
footer a:hover {
  color: #9A3C7A;
}
footer .socials {
  padding: 10px 0px 10px 0px;
}
footer .socialMediaIcon {
  color: #9A3C7A;
  font-size: 28px;
}
footer .socialMediaIcon:hover {
  color: #CC6EAC;
}/*# sourceMappingURL=style.css.map */